language: node_js

node_js:
  - 16

before_script:
  - cd client
  - npm install

script:
  - npm run build

deploy:
  - provider: s3
    access_key_id: "$AWS_ACCESS_KEY"
    secret_access_key: "$AWS_SECRET_KEY"
    bucket: "my-album-app"
    region: "us-west-1"
    local_dir: "client/build"
    skip_cleanup: true
